
<div *ngIf="teach">
    <h2><span jhiTranslate="jhipsterApp.teach.detail.title">Teach</span> {{teach.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.teach.course">Course</span></dt>
        <dd>
            <div *ngIf="teach.course">
                <a [routerLink]="['/course', teach.course?.id]">{{teach.course?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.teach.instructor">Instructor</span></dt>
        <dd>
            <div *ngIf="teach.instructor">
                <a [routerLink]="['/instructor', teach.instructor?.id]">{{teach.instructor?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'teach/'+ teach.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
