<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStudentLabel" jhiTranslate="jhipsterApp.student.home.createOrEditLabel">Create or edit a Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!student.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="student.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.student.fname" for="field_fname">Fname</label>
            <input type="text" class="form-control" name="fname" id="field_fname"
                [(ngModel)]="student.fname" required minlength="3" maxlength="20"/>
            <div [hidden]="!(editForm.controls.fname?.dirty && editForm.controls.fname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fname?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fname?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.student.sname" for="field_sname">Sname</label>
            <input type="text" class="form-control" name="sname" id="field_sname"
                [(ngModel)]="student.sname" required minlength="3" maxlength="20"/>
            <div [hidden]="!(editForm.controls.sname?.dirty && editForm.controls.sname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sname?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sname?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.student.gpa" for="field_gpa">Gpa</label>
            <input type="number" class="form-control" name="gpa" id="field_gpa"
                [(ngModel)]="student.gpa" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.student.enrollmentDate" for="field_enrollmentDate">Enrollment Date</label>
            <div class="input-group">
                <input id="field_enrollmentDate" type="text" class="form-control" name="enrollmentDate" ngbDatepicker  #enrollmentDateDp="ngbDatepicker" [(ngModel)]="student.enrollmentDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="enrollmentDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.enrollmentDate?.dirty && editForm.controls.enrollmentDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.enrollmentDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.student.birthDate" for="field_birthDate">Birth Date</label>
            <div class="d-flex">
                <input id="field_birthDate" type="datetime-local" class="form-control" name="birthDate" [(ngModel)]="student.birthDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.birthDate?.dirty && editForm.controls.birthDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.birthDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.birthDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.student.expectedGraduationDate" for="field_expectedGraduationDate">Expected Graduation Date</label>
            <div class="d-flex">
                <input id="field_expectedGraduationDate" type="datetime-local" class="form-control" name="expectedGraduationDate" [(ngModel)]="student.expectedGraduationDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.expectedGraduationDate?.dirty && editForm.controls.expectedGraduationDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.expectedGraduationDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.expectedGraduationDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.student.department" for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" [(ngModel)]="student.department" >
                <option [ngValue]="null"></option>
                <option [ngValue]="departmentOption.id === student.department?.id ? student.department : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
